!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Services Schedule
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='angular-gantt/dist/angular-gantt.css')
    link(rel='stylesheet', href='angular-gantt/dist/angular-gantt-progress-plugin.css')
    link(rel='stylesheet', href='angular-gantt/dist/angular-gantt-tooltips-plugin.css')
  body
    block body